 <!-- Site footer -->
 <footer class="site-footer mt-4 ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          Welcome to my prototype blogging website! This project is designed to showcase the potential of a fully functional blog platform. Feel free to explore the features, and imagine the possibilities for sharing your thoughts and stories with the world. Thank you for visiting, and I hope you enjoy your experience!
      </p>
      
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; Rushik
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/rushik.solanki.16"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://www.instagram.com/rushik_solanki_21/"><i class="fa fa-instagram"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/rushiksolanki/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
