<% layout('layout/main') -%>
<% block('title', 'About') -%>
<div class="container">
  <h1 class="blog-heading top-m">About</h1>

  <div class="row align-items-center">
    <div class="col-md-6">
      <p class="w-100 mx-auto text-center ">
        Hey there! I'm Rushik. This is a prototype of my blogging website, created to understand the core concepts of a blog platform. I've also discussed this project at various events.
      </p>
    </div>
    <div class="col-md-6">
      <img src="https://t3.ftcdn.net/jpg/01/35/70/90/360_F_135709080_2XHH0eeTGZ6rAaxgyuLKKdTaUCZAgPCZ.jpg" class="img-fluid" alt="Image representing blog concept">
    </div>
  </div>

  <h3 class="mt-4 mb-4">Want to Know More About Me?</h3>
  <p>
    Connect with me on social media:
  </p>
  <a href="https://www.linkedin.com/in/rushiksolanki/" target="_blank">LinkedIn</a> <br>
  <a href="https://www.instagram.com/rushik_solanki_21/" target="_blank">Instagram</a>
</div>
